
/* Рамка - bkgd*/
.frame
{
    position: relative;
    z-index: 1;
    padding: 20px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5); /* Сив фон с прозрачност */
}
/*
.book-tickets-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
*/
