.loginForm
{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    margin: 0;
}

.loginForm h2
{
    color: black;
    margin-bottom: 28px;
    font-size: 1rem;
    text-align: center;
}


.loginForm form
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginForm label
{
    width: 120px;
    margin-right: 10px;
    color: black;
}

.loginForm input
{
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
}


.loginForm button
{
    background-color: #225564;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.loginForm button:hover
{
    background-color: #47798C;
}



