
/* Рамка - bkgd*/
.loginForm
{
    position: relative;
    z-index: 1;
    padding: 20px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Задаване на стилове за текстовите полета на страницата*/
.loginForm h2, label
{
    color: white;
    text-decoration: none;
}
