.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar-logo img {
    height: 40px;
    margin-right: 10px;
}

.navbarlinks {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    align-items: center;
}

.navbarlinks a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.title {
    display: flex;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    align-items: center;
}

.title a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.login {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.login a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.login-link {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

.login-link:hover {
    background-color: #555;
}